{% extends 'main/base.html' %}

{% block content %}
<div class="card mb-4 box-shadow text-center">
    <div class="card-header">
        <h3 class="card-title">
            Удаление рассылки
        </h3>
    </div>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p>Хотите удалить "{{ object.head }}"?</p>
            <button type="submit" class="btn btn-success">Подтвердить</button>
            <a href="{% url 'main:message_list' %}" class="btn btn-warning">Отмена</a>
        </form>
    </div>
</div>
{% endblock %}